/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --error-color: #98000b;
  --primary-color: #dc3545;
  --grey-color: #333333;
  --dark-color: #cccccc;
  --light-color: #f4f4f4;
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.45;

  background: linear-gradient(90deg, #b9deed, #efefef);
  color: var(--grey-color);
}

a {
  text-decoration: none;
  transition: .2s ease-out;

  &:hover,
  &:active,
  &:focus {
    color: var(--grey-color);
  }
}

//===
.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 1rem;

  @media screen and (min-width: 768px) {
    padding: 0 2rem;
  }
}

.main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.navigation {
  margin-bottom: 3rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--grey-color);
  font-size: 13px;

  @media screen and (min-width: 360px) {
    font-size: 14px;
  }

  @media screen and (min-width: 400px) {
    font-size: 16px;
  }

  tr {
    transition: .2s ease-out;

    &:nth-child(even) {
      background: var(--light-color);
    }

    &:nth-child(odd) {
      background: var(--white-color);
    }

    &:hover {
      background: linear-gradient(90deg, #b9deed, #efefef);
    }

    th {
      padding: 5px 2px;

      background: var(--dark-color);
      border-bottom: 1px solid var(--grey-color);

      @media screen and (min-width: 576px) {
        padding: 5px;
      }

      @media screen and (min-width: 768px) {
        padding: 5px 15px;
      }
    }

    td {
      padding: 5px 2px;

      &:not(:first-child) {
        text-align: center;
      }

      @media screen and (min-width: 576px) {
        padding: 5px;
      }

      @media screen and (min-width: 768px) {
        padding: 5px 15px;
      }
    }
  }
}

.input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: .5rem 1rem;
  border: 1px solid var(--grey-color);
  border-radius: .25rem;

  transition: .2s ease-out;

  &:hover,
  &:focus {
    box-shadow: 0 0 .75rem rgba(0, 0, 0, 0.5);
  }
}

.text-center {
  text-align: center;
}

.error {
  color: var(--error-color);
  font-weight: 700;
}

//===
.btn {
  display: inline-block;
  padding: .5rem 1.5rem;

  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;

  border: 1px solid var(--grey-color);
  border-radius: .25rem;
  background-color: var(--light-color);
  color: var(--grey-color);

  cursor: pointer;
  transition: .2s ease-out;

  &:disabled {
    cursor: not-allowed;
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    box-shadow: 0 0 .75rem rgba(0, 0, 0, 0.5);
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

//=== filter
.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 3rem;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    justify-content: normal;
  }

  &__title {
    text-transform: uppercase;

    @media screen and (min-width: 576px) {
      flex-basis: 15%;
    }

    @media screen and (min-width: 768px) {
      flex-basis: auto;
      margin-right: 1rem;
    }
  }

  &__input {
    flex-basis: 100%;
    order: 3;
    margin-top: 1rem;

    @media screen and (min-width: 576px) {
      flex-basis: 60%;
      margin-top: 0;
      order: 0;
    }

    @media screen and (min-width: 768px) {
      flex-basis: auto;
      margin-right: 1rem;
    }
  }

  &__clean-btn {
    @media screen and (min-width: 576px) {
      flex-basis: 20%;
      margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
      flex-basis: auto;
    }
  }
}

//=== detailed-news
.news {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  row-gap: 2rem;

  @media screen and (min-width: 576px) {
    flex-direction: row;
  }

  &__img {
    flex-basis: 50%;

    @media screen and (min-width: 768px) {
      flex-basis: 40%;
    }

    @media screen and (min-width: 992px) {
      flex-basis: 30%;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: .5rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

    @media screen and (min-width: 768px) {
      flex-basis: 60%;
    }

    @media screen and (min-width: 992px) {
      flex-basis: 70%;
    }
  }

  &__title {
    margin-bottom: 1rem;

    font-size: 1.5rem;
    line-height: 1.2;

    @media screen and (min-width: 992px) {
      font-size: 2rem;
    }
  }

  &__summary {
    margin-bottom: 1rem;
  }

  &__updatedAt {
    margin-top: auto;
    margin-bottom: .5rem;
  }
}

#loader {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }

  &:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }

  @-webkit-keyframes spin {
    0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}



